/* ============== globals ================== */

body {
  margin: 0;
  padding: 65px 150px;
}

#paper {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 275px rgba(0,0,0,0.22);
}

#writable-paper {
  width: 85%;
  margin: 0 auto;
  padding: 90px 0;
  padding-bottom: 140px;
  overflow: hidden;
}

.section {
}

.side {
  width: 50%;
}



/* ============== Profile Sections ================== */

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture-frame {
  display: flex;
  justify-content: center;
}
.picture {
  height: 460px;
  width: 290px;
  /* border-radius: 12px; */
  background: url(../images/profile-picture.jpg) no-repeat center;
  background-size: cover;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 40px rgba(0,0,0,0.22);
  position: relative;

  animation: fall 0.55s ease-in;
}

.contactme-container {
  position: absolute;
  right: -50px;
  bottom: -42px;
  height: 172px;
  width: 70px;
}

.contactme {
  box-sizing: border-box;
  position: relative;
  top: 45px;
  transition: all 0.4s;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  animation: contact-pop 1.8s;
  width: 95%;
  padding: 36px;
}


.contactinfo-container a.link {
  text-decoration: none !important;
  color: inherit !important;
}

.contactinfo-container * {
  font-size: 18px;
  font-family: poppins;
  line-height: 32px;
}

.github {
  background: url(../icons/github.svg) no-repeat center;
  background-size: contain;
  display: inline-block;
  color: inherit;
  height: 18px;
  width: 18px;
}

.chat-bubble {
  position: absolute;
  right: 0;
  width: 70px;
  height: 70px;
  background: url(../icons/chat.jpeg) no-repeat 50% 55%;
  background-size: 45%;
}

.info {
  position: relative;
}

.personal-info {
  color: rgb(76,76,76);
  font-family: Poppins;
  padding-left: 15px;
}

.personal-info>.name {
  font-size: 48px;
  font-variant: small-caps;
 
  line-height: 72px;
  letter-spacing: 0.2ch;
  text-decoration: #b0ff57 underline;
  text-underline-position: under;

  animation: appear 0.85s both;
}

.personal-info>.description {
  font-size: 24px;

  animation: appear 0.85s 0.25s both;
}

.personal-info>.meta-description {
  font-weight: 300;
  font-size: 18px;
  opacity: 0.85;

  animation: appear 0.85s 0.5s both;
}


/* ============== History Section ================== */

.history {
  position: relative;
  width: 100%;
  margin-top: 120px;
}

.segment {
  z-index:11;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(115,115,115);
}

.segment-right {
  left: -7.5px;
}

.segment-left {
  right: -2.5px;
}

.active .segment {
  animation: segment ease-in 0.5s linear forward;

}


.circle-wrapper {
  display: inline;
  position: absolute;
}


.circle-wrapper-right {
  left: -50px;
}

.circle-wrapper-left {
  right: 50px;
}

.circle-wrapper .circle {
  position: absolute;
  top: 18px;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 75px;

  z-index: 100;
  background-color: white;
  border: 8px solid  rgb(115,115,115);
  /* rgba(255, 87, 34, 0.8); */
}




.birth {
  background: url(../icons/baby-pacifier.svg);
}

.education {
  background: url(../icons/book_icon.jpg)
}

.experience {
  background: url(../icons/briefcase.svg)
}

.circular-image {
  background-size: 55%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  
}


.history-element {
  box-sizing: border-box;
  width: 50%;
  margin: 0;
  display: flex;
  align-items: flex-start;
  visibility: hidden;
}

.history-element.active {
  visibility: visible;
}

.history-element-right,.history-element-left {
  margin-top: 96px;
}

.history-element-right {
  margin-left: 50%;
  justify-content: flex-start;

}

.history-element-left {
  margin-right: 50%;
  justify-content: flex-end;
}

.animation {
  position: absolute;
  width: 50%;
}

.animation-left {
  left: 0;
}

.animation-right {
  right: 0;
}

.animation-left svg {
  position: absolute;
  right: 0;
} 
.animation-right svg {
  position: absolute;
  left: 0;
}

.mask {
  position: absolute;
  top: 0;
  
  width: 600px; 
  height: 45px;
  z-index: 10;
  background-color: white;
  background-repeat: no-repeat;
}

.mask-right {
  left: 0;
}


.mask-left{
  right: 0;
} 


.line {
  fill: none;
  stroke: rgb(115,115,115);
  /* stroke: rgba(255, 87, 34, 0.8); */
  stroke-width: 6;
}

.horizontal {
  stroke-width: 12;
}

.content {
  width: 320px;

  position: relative;
  z-index: 11;

  font-family: Poppins;
  padding-top: 9px;
  padding-left: 8px;

  color: rgb(75,75,75);
}

.content-right {
  margin-left: 110px;
}

.content-left {
  margin-right: 110px;
}

.content-header {
  opacity: 0;
  white-space: nowrap;
  position: absolute;
  top: -38px;

  font-size: 22px;
}



.content-body {
  padding-top: 6px;
  line-height: 26px;
  font-size: 18px;

  opacity: 0;
  
}
.external-link-icon {
  font-size: 18px;
  padding-left: 6px;
}

.external-link {
  color: #F44B4B;
}

.present-section {

}

.em {
  color: rgb(45,45,45);
  font-weight: bold;
}

.present-section {
  padding-top: 60px;
}

.present-header,.present-body {
  opacity: 0;
  width: 60%;
  margin: 0 auto;
  font-family: poppins;
}

.present-section .present-header {
  font-size: 30px;
  color: #4C83DB;
  font-weight: bold;
}

.present-section .present-body {
  color: rgb(75,75,75);
  font-size: 18px;
  line-height: 24px;
}

.present-body .paragraph {
  margin-top: 18px;
}

.active .segment {
  animation: segment 0.6s ease-in;
}

.active .circle-wrapper {
  animation: circle-up 0.5s 0.3s ease-out forwards;
}

.active .circle-wrapper .circle {
  animation: circle-pop 1.2s 0.3s both;
}

.active .content-header {
  animation: content-appear 1s 0.9s forwards;
}

.active .content-body {
  animation: content-appear 1s 0.9s forwards;
}

.active .mask-right {
  animation: show-diagonal-right 0.45s 0.75s linear forwards;
}
.active .mask-left {
  animation: show-diagonal-left 0.45s 0.75s linear forwards;
}


.active .present-header {
  animation: content-appear 1s 0.3s forwards;
}

.active .present-body {
  animation: content-appear 1s 0.45s forwards;
}


@keyframes segment {
  0% {
    transform: scaleY(0)
  }

  100% {
    transform: scaleY(1)
  }
}

@keyframes show-diagonal-right {
  from { left: 0; top: 0; }
  to { left: 451px; top: 0px; }
}

@keyframes show-diagonal-left {
  from { right: 0; top: 0; }
  to { right: 451px; top: 0;}
}


@keyframes fall {
  0% {
    transform: translate(-5px, -20px);
  }
  30% {
    transform: translate(-2px, -6px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(-5px, -20px)
  }

  30% {
    transform: translate(-2px, -6px);
    opacity: 0.45;
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes content-appear {
  0% {
    opacity: 0;
    
  }
  20% {
    opacity: 0;
    transform: translate(-5px, -20px)
  }
  50% {
    transform: translate(-1px, -4px);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes contact-pop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }

  90% {
    transform: scale(1.20)
  }
  100% {
    transform: scale(1)
  }
}

@keyframes circle-pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  30% {
    opacity: 0.5;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

@keyframes circle-up {
  0% {
    transform: translate(0px, 120px);
  }
}

@keyframes arrow-down {
  0% {
    height: 0px;
    
  }

  6% {
    height: 0px;
    transform: translate(0px, 110px);
  }

  19% {
    transform: translate(0px, 90px);
  }

  100% {
    height: 2500px;
  }
}
